body {
  background: radial-gradient(#fff,#bd7b7b);
}

.product-image {
  padding: 10px;
  height: calc(250px - 20px);
  width: calc(100% - 20px);
}

.main-content {
  background-image: url("../assets/image1.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  width: 100%;
  height: calc(100vh - 100px);
  background-size: cover;
}

.error {
  color: red;
}

.badge {
  background: #000;
  border-radius: 50%;
  margin-left: -5px;
}

slide .card {
    background: #000;
    color: #fff;
  }

nav {
  background: radial-gradient(#fff,#F8F9F9);
}
